/* static/css/estilos.css */

/* Estilos generales */
.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
    background-color: #fff;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.card-text {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
}

.btn {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 30px;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #5a6268;
}

.btn-block {
    width: 100%;
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
    .card {
        margin-bottom: 30px;
    }

    .btn {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}

/* Estilos específicos para alertas y tablas */
.alert-primary {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.table {
    margin-bottom: 0;
}

.table-bordered {
    border: 2px solid #dee2e6;
    border-radius: 10px;
}

.table-dark th {
    background-color: #343a40;
    color: #fff;
    border-color: #454d55;
}

.table th,
.table td {
    vertical-align: middle;
}

.input-group-btn {
    display: flex;
    align-items: center;
}

.input-group-btn .btn {
    border-radius: 50%;
}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

/* Ajuste para los botones dentro de la misma fila */
.row .btn {
    margin-top: 5px; /* Espacio entre los botones */
}
