{% extends 'proyecto/base.html' %}
{% load static %}

{% block content %}
<main class="rewards-page">
    <section class="rewards-intro"> 
        <h2>Únete a Nuestro Programa de Recompensas</h2>
        <p>Gana puntos con cada compra y obtén recompensas exclusivas.</p>
        
    </section>

    <section class="join-steps">
        <h2>Ser parte de Baristas Rewards es muy fácil</h2>
        <p>¡Comienza a acumular Stars con todas tus compras!</p>
        <ul>
            
            <li>Descarga la app "Baristas" y haz clic en "Únete"</li>
            <li>Completa tus datos</li>
            <li>Únete con tu Barista Card previamente activada u obtén de forma automática una Barista Card digital</li>
            <li>Recarga tu Barita Card</li>
            <li>Paga con tu App o Barista Card y obtén Stars</li>
        </ul>
        <p>¡Acumula Stars y disfruta de tus beneficios!</p>
    </section>

    <section class="rewards-levels">
        <h2>Niveles de Recompensas</h2>
        <div class="level bronze">
            <h3>Bronce</h3>
            <p>0 - 50 puntos</p>
            <p>Beneficios: Descuento del 5%</p>
        </div>
        <div class="level silver">
            <h3>Plata</h3>
            <p>51 - 100 puntos</p>
            <p>Beneficios: Descuento del 10% + Bebida Gratis en tu Cumpleaños</p>
        </div>
        <div class="level gold">
            <h3>Oro</h3>
            <p>101+ puntos</p>
            <p>Beneficios: Descuento del 15% + Bebida Gratis en tu Cumpleaños + Acceso a Promociones Exclusivas</p>
        </div>
    </section>

    <section class="how-to-earn">
        <h2>Cómo Ganar Puntos</h2>
        <ul>
            <li>Compra cualquier bebida: 1 punto por cada $1</li>
            <li>Compra cualquier comida: 2 puntos por cada $1</li>
            <li>Ofertas especiales: Doble de puntos en días seleccionados</li>
        </ul>
    </section>

    <section class="how-to-redeem">
        <h2>Cómo Canjear Puntos</h2>
        <ul>
            <li>50 puntos: 1 Bebida Gratis</li>
            <li>100 puntos: 2 Bebidas Gratis</li>
            <li>150 puntos: Pass para una semana de Bebida Gratis</li>
        </ul>
    </section>
</main>
{% endblock %}
