{% extends 'proyecto/base.html' %}
{% load static %}
{% block content %}

<section class="product-details">
    <div class="product-image">
        <img src="{% static 'img/moca.jpg' %}" alt="Café Moca Helado">
    </div>
    <div class="product-info">
        <h2> Moca Helado</h2>
        <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
        </div>
        <p class="price">$1.700</p>
        <p>Un café moca es una variante del café con leche. Como este, suele llevar un tercio de expreso y dos tercios de leche vaporizada, pero se añade una parte de chocolate, normalmente en forma de jarabe de chocolate, aunque algunas máquinas usan chocolate en polvo instantáneo.</p>
    
        
    </div>
</section>

<section class="related-products">
    <h2>Productos Relacionados</h2>
    <div class="related-product">
        <div class="product-image">
            <img src="{% static 'img/cafe-irish.jpg' %}" alt="Café Irish">
        </div>
        <div class="product-info">
            <h3>Café Irish</h3>
            <p class="price">$2.000</p>
        </div>
    </div>
    <div class="related-product">
        <div class="product-image">
            <img src="{% static 'img/cafe-ingles.jpg' %}" alt="Café Inglés">
        </div>
        <div class="product-info">
            <h3>Café Inglés</h3>
            <p class="price">$1.800</p>
        </div>
    </div>
    
</section>
</main>

{% endblock %}


{% block extrascripts %}
<script src="{% static 'js/styles.js' %}"></script>

{% endblock %}